svg, img, embed, object {
	display: block;
	height: auto;
	max-width: 100%;
}


.loop-gim {
	margin: 20px 0;
	padding: 20px;
	border: solid 1px #ccc;
	border-radius: 5px;
	text-align: center;
	
}
.avatar img {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 100%;
}
.entry-content .loop-content h2 {
	margin-top: 10px;	
}

svg, img, embed, object {
	display: block;
	height: auto;
	max-width: 100%;
}

.container {
	margin: auto;
	max-width: 960px;
}

/* Card Header */
.card-header {
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 0;
	text-align: center;
	background: #fff;
	border-radius: 6px;
	border: solid 1px #ccc;
}
.cover {
	background-color: #ccc;
	height: 200px;
}
.cover img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.data {
	padding: 20px;
	padding-top: 0;
}
.gym-logo {
	margin-top: 0;
	margin-bottom: 1em;
}
.gym-logo img {
	margin-top: -75px;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	border-radius: 100%
}
.entry .entry-title:before {
	display: none !important;
}
.card-header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
.card-header nav ul li+li {
	margin-left: 20px;
}

@media only screen and (min-width: 1168px) {
	.entry * {
		max-width: 100% !important;
	}
}

.singular .featured-media {
	margin-top: 0;
}
.singular .featured-media-inner {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
}
